<h2>NEW CELEBRITY</h2>

<form method="POST" action="/celebrities/create">
  <div class="mb-3">
    <label class="form-label">Name:</label>
    <input class="form-control" type="text" name="name" />
    <br />
    <label class="form-label">Occupation:</label>
    <input class="form-control" type="text" name="occupation" />
    <br />
    <br />
    <label class="form-label">Catch phrase:</label>
    <input class="form-control" type="text" name="catchPhrase" />
    <br />
    <button class="btn btn-primary" type="submit">ADD</button>
  </div>
</form>